#LOGIN_TABLE {
	margin: 150px auto;
}

#KEEP_P {
	margin: 200px;
}

.DOC_DIV {
	margin-bottom: 100px;
}

#SNEAKER_P {
	margin: 200px;
}

#WRONG_PERSON_P {
	margin: 200px;
}

#MSG_P {
	margin: 200px;
}

#ABOUT_TABLE {
	margin: 30px auto;
	table-layout: fixed;
	width: 800px;
	word-break: break-all; 
}

#TAFREE_A {
	text-decoration: none;
	color: #000000;
} 

#TAFREE_A:hover {
	color: #3F464C;
}

#LOGIN_AGAIN_A {
	text-decoration: none;
	color: #000000;
} 

#LOGIN_AGAIN_A:hover {
	color: #3F464C;
}

.TITLE_TD {
	background-color: #2186C4;
	text-align: center;
}

.CONTENT_TD {
	background-color: #FFF6E5;
	text-align: left;
}

.CIR_TABLE {
	margin: 50px auto;
}

.BIG_CIRCLE {
	cx: 150px;
	cy: 150px;
	r: 120px;
	fill: #FFF6E5;
}

.SMALL_CIRCLE {
	cx: 150px;
	cy: 150px;
	r: 100px;
	fill: #FFF6E5;
	stroke-width: 5px;
	stroke: #2186C4;
}

.CIR_SVG {
	height: 300px;
	width: 300px;
}

.CIR_TEXT:hover {
	fill: #3F464C;
}

#FAC_DIV {
	margin: 150px auto; 
}

.FAC_A {
	width:300px;
    height:40px;
	background-color: #FFF6E5;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	color: #000000;
}

.FAC_A:hover {
	color: #3F464C; 
}

.POLYGON_SVG {
    height: 500px;
    width: 500px;
}

.ADD_DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.SUB_ADD_DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.ADD_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

#FAC_ASSIGN_DIV{
	margin: 30px auto;
	text-align: center;
	margin-bottom: 0;
}

#PROBLEM_TABLE {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 50%;
    height: 50%;
}

#OTHER_INPUT {
}

#SOLUTION_TABLE {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 50%;
    height: 50%;
}

#TESTDATA_TABLE {
    margin: 0 auto;
    width: 50%;
    height: 50%;
    margin-bottom: 100px;
}

.HIDDEN_TR {
    display: none;
}

.SHOW_TR {
	
}

.ADMIN_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

#ADMIN_TABLE {
    margin: 30px auto;
    margin-bottom: 50px;
}

.HIDDEN_PROB {
    display: none;
}

.HIDDEN_FAC {
    display: none;
}

.ADMIN_SHOW_TR {
    position: relative;
}

#FAC_LEAVE_TABLE {
    margin: 30px auto;
    width: 1000px;
    
}

#STU_LEAVE_TABLE {
    margin: 30px auto;
    width: 1000px;
    
}

.STATUS_DOWNLOAD_TABLE {
    margin: 50px auto;
    width: 800px;
}

.STATUS_TABLE  {
	position: fixed;
	left: 25px;
	top: 180px;    
	border: 2px outset #D8D8D8;
}

.STATUS_P {
    display: inline;
    font-weight: bold;
}

.CLICKABLE {
    display: block;
    background-color: #FFF6E5;
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 4%;
    border : 0.5px solid #3F464C;
    margin: 0 auto;
}

.CLICKABLE:hover {
    color: #3F464C;
}

#ADD_DEL_STU_TABLE {
    margin: 30px auto;
    width: 800px;
    margin-bottom: 50px;
}

#ALL_TABLE {
    margin: 50px auto;
    width: 800px;
}

.FAC_SCORE_TABLE {
    margin: 120px auto;
    width: 800px;
    table-layout: fixed;
}

#STU_SCORE_TABLE {
    margin: 120px auto;
    width: 800px;
    table-layout: fixed;
}

.FAC_MODIFY_DIV{
	margin: 30px auto;
	text-align: center;
}

.HIDDEN_DIV {
	display: none;
}

.CODES_TABLE { 
    	margin: 30px auto;
	margin-bottom: 50px;
}

.BLOCK_DIV {
    width: 350px;
    height: 270px;
    background-color: #2186C4;
    border: 2px outset #D8D8D8;
    margin: 20px;
}

.TITLE_DIV {
	width: 100%;
	height: 8%;
  	padding: 4px;
	box-sizing: border-box;
	color: #FFF6E5;
	font-size: 14px;
	line-height: 100%;
}

.CODE_DIV {
    float: left;
    width: 90%;
    height: 92%;
    padding: 10px;
    background-color: #FFF6E5;
    box-sizing: border-box;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 14px;
}

.MODIFY_BAR_DIV {
	width: 10%;
	height: 92%;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}

.TITLE_P {
	display: inline;
}

.ZOOM_IMG {
	float: right;
	height: 14px;
	width: 14px;
	border: 1px outset #D8D8D8;
	background-color: #FFF6E5;
}

.MODIFY_BUTTON_IMG {
	width: 14px;
	height: 14px;
	border: 1px outset #D8D8D8;
	background-color: #FFF6E5;
}

.MODIFY_BUTTON_IMG:hover {
	background-color: #D8D8D8;
}

.MODIFY_TABLE {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.MODIFY_TR {
	color: #FFF6E5;
	border: 1px dotted #D8D8D8;
	font-size: 14px;
}

.MODIFY_LINE_PRE {
    border: 1px dotted #3196C4;
}

.MODIFY_LINE_PRE:hover {
    background-color: #7ECEFC;
}
	
.MODIFY_LINE_INPUT {
    box-sizing: border-box;
    font-size: 3vh;
    width: 100%;
    height: 3vh;
}
		
.MODIFY_BLOCK_TEXTAREA {
    width: 100%;
    height: 20%;
    resize: both;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 3vh;
}

.MODIFY_ALL_TEXTAREA {
    width: 100%;
    height: 100%;
    resize: both;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 3vh;
}

.MODIFY_LOCK_DIV {
}

#FAC_CHOOSER_TABLE {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.ITEM_STATUS_IMG {
	display: inline;
	background-color: transparent;
}

.PRESENT_TABLE {
    width: 1000px;
    margin-top: 50px;
}

#STU_CHOOSER_TABLE {
    margin: 50px auto;
}

.STU_WRITE_DIV{
	margin: 30px auto;
	text-align: center;
}

.WRITE_DIV {
    float: left;
    width: 100%;
    height: 92%;
    padding: 10px;
    background-color: #FFF6E5;
    box-sizing: border-box;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 14px;
}

#APPLY_A {
	text-decoration: none;
	color: #000000;
} 

#APPLY_A:hover {
	color: #3F464C;
}

#SUPPORT_A {
	text-decoration: none;
	color: #000000;
} 

#SUPPORT_A:hover {
	color: #3F464C;
}

.LOOK_LINE_PRE {
	
}

#DISCUSSION_DIV {
	margin: 10px auto;
	background-color: #FFF6E5;
	width: 80vw;
	height: 80vh;
}

#RECORD_DIV {
	width: 100%;
	height: 95%;
	overflow: scroll;
}

#TALK_DIV {
	width: 100%;
	height: 5%;
}

#SUBJECT_SELECT {
	height: 100%;
	display: inline;
}

#TALK_INPUT {
	height: 60%;
	width: 80%;
	display: inline;
}

#TALK_BUTTON {
	border-radius: 10%;
	float: right;
    	background-color: #FFF6E5;
	color: #000000;
	height: 100%;
	width: 10%;
}

.DISCUSSION_MSG_PRE {
	display: inline;
}

.DISCUSSION_SUBJECT_IMG {
	display: inline;
	height: 20px;
}

.DOC_A {
	text-decoration: none;
	color: #000000;
} 

.DOC_A:hover {
	color: #3F464C;
}















