#LOGIN_TABLE {
	margin: 30vh auto;
	text-align: center;
}

#REJUDGE_TABLE {
	margin: 30vh auto;
	text-align: center;
}

.DOC_DIV {
	margin: auto 5vh;
}

#SNEAKER_DIV {
	text-align: center;
	margin-top: 30%;
}

#HTTP_ERROR_DIV {
	text-align: center;
	margin-top: 30%;
}

#WRONG_PERSON_DIV {
	text-align: center;
	margin-top: 30%;
}

#MSG_DIV {
	margin-top: 30%;
	text-align: center;
}

#PENDING_DIV {
	margin-top: 30%;
	text-align: center;
	color: red;
}

.TITLE_TD {
	background-color: #2186C4;
	text-align: center;
	white-space: pre;
}

.CONTENT_TD {
	background-color: #FFF6E5;
	text-align: left;
}

.POLYGON_SVG {
    height: 500px;
    width: 500px;
}

.ADD_DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.SUB_ADD_DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.ADD_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.DEL_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.CONTENT_PRE_TD {
	background-color: #FFF6E5;
	text-align: left;
	white-space: pre;
}

#PROBLEM_TABLE {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 30px;
    width: 90%;
}

#OTHER_INPUT {
}

#SOLUTION_TABLE {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90%;
}

#TESTDATA_TABLE {
    margin: 0 auto;
    margin-bottom: 100px;
    width: 90%;
}

.HIDDEN_TR {
    display: none;
}

.SHOW_TR {
	
}

.ADMIN_BUTTON {
    border-radius: 30%;
    background-color: #2186C4;
    color: #FFF6E5;
}

.ADMIN_BUTTON_TD {
    width: 30px;
}

.ADMIN_TABLE {
    margin: 5vh auto;
    width: 80vw;
}

.HIDDEN_PROB {
    display: none;
}

.HIDDEN_FAC {
    display: none;
}

.ADMIN_SHOW_TR {
    position: relative;
}

#FAC_LEAVE_TABLE {
    margin: 5vh auto;
    width: 90%;
}

.CONTENT_DEADLINE_TD {
 	background-color: #FFF6E5;
	text-align: left;
	width: 150px;   
	white-space: pre;
}

.CONTENT_REASON_TD {
	background-color: #FFF6E5;
	text-align: left;
	width: 50vw;
}

.CONTENT_REASON_DISPLAY_TD {
	background-color: #FFF6E5;
	text-align: left;
	width: 35vw;
}

#STU_LEAVE_TABLE {
    margin: 5vh auto;
    width: 90%;
    
}
	
.REASON_TEXTAREA {
    white-space: pre;
    width: 100%;
    height: 30vh;
    resize: none;
    overflow: scroll;
    box-sizing: border-box;
}

#EXPANSION_TABLE {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 30px;
    width: 80%;
    height: 50%;
}

#STATUS_DOWNLOAD_TABLE {
    margin: 20px auto;
    width: 80%;
}

#STATUS_TABLE  {
	margin: 5vh auto;
	width: 80%;
}

.CLICKABLE {
    display: block;
    background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 2px 1px;
    border-radius: 5%;
    border : 1px solid #3F464C;
    margin: 0 auto;
    text-align: center;
}

.CLICKABLE_LEFT {
    display: inline-block;
    background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 2px 1px;
    border-radius: 5%;
    border : 1px solid #3F464C;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
}

#ALL_INPUT {
    display: block;
    background-color: #FFF6E5;
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 3px;
    border-radius: 4%;
    border : 0.5px solid #3F464C;
    margin: 0 auto;
}

#ALL_INPUT:hover {
    color: #3F464C;
}

#ADD_DEL_STU_TABLE {
    margin: 5vh auto;
    width: 80%;
    margin-bottom: 50px;
}

.FAC_SCORE_TABLE {
    margin: 5vh auto;
    width: 80%;
}

.CONTENT_STU_INFO_TD {
	background-color: #FFF6E5;
	text-align: left;
	width: 200px;
}

.STU_SCORE_TABLE {
    margin: 5vh auto;
    width: 80%;
}

.STU_RECORD_TABLE {
    margin: 5vh auto;
    width: 80%;
}

.TITLE_STU_INFO_TD {
	background-color: #2186C4;
	text-align: center;
	white-space: pre;
	width: 150px;
}

.HIDDEN_DIV {
	display: none;
}

.CODES_TABLE { 
    	margin: 5vh auto;
	margin-bottom: 50px;
}

.BLOCK_DIV {
    width: 350px;
    height: 270px;
    background-color: #2186C4;
    border: 2px outset #D8D8D8;
    margin: 20px;
}

.TITLE_DIV {
	width: 100%;
	height: 8%;
  	padding: 4px;
	box-sizing: border-box;
	color: #FFF6E5;
	font-size: 14px;
	line-height: 100%;
}

.CODE_DIV {
    float: left;
    width: 90%;
    height: 92%;
    padding: 10px;
    background-color: #FFF6E5;
    box-sizing: border-box;
    overflow: auto;
    white-space: pre;
    font-size: 14px;
}

.MODIFY_BAR_DIV {
	width: 10%;
	height: 92%;
	padding: 10px;
	box-sizing: border-box;
	overflow: auto;
}

.TITLE_P {
	display: inline;
}

.ZOOM_IMG {
	float: right;
	height: 14px;
	width: 14px;
	border: 1px outset #D8D8D8;
	background-color: #FFF6E5;
}

.MODIFY_BUTTON_IMG {
	width: 14px;
	height: 14px;
	border: 1px outset #D8D8D8;
	background-color: #FFF6E5;
}

.MODIFY_BUTTON_IMG:hover {
	background-color: #D8D8D8;
}

.MODIFY_TABLE {
	table-layout: fixed;
	width: 100%;
	text-align: center;
}

.MODIFY_TR {
	color: #FFF6E5;
	border: 1px dotted #D8D8D8;
	font-size: 14px;
}

.MODIFY_LINE_PLAIN_INPUT {
    border: 1px dotted #3196C4;
    background-color: transparent;
    width: 100%;
}

.MODIFY_LINE_PLAIN_INPUT:hover {
    background-color: #7ECEFC;
}
	
.MODIFY_LINE_INPUT {
    box-sizing: border-box;
    overflow: scroll;
    font-size: 3vh;
    width: 100%;
    height: 3vh;
}
		
.MODIFY_BLOCK_TEXTAREA {
    white-space: pre;
    width: 100%;
    height: 40%;
    resize: none;
    overflow: scroll;
    box-sizing: border-box;
    font-size: 3vh;
}

.MODIFY_ALL_TEXTAREA {
    white-space: pre;
    width: 100%;
    height: 100%;
    resize: none;
    overflow: scroll;
    box-sizing: border-box;
    font-size: 3vh;
}

.MODIFY_LOCK_DIV {
}

.MODIFY_BLUR_DIV {
	filter: blur(3px);
}

#SAFE_INPUT {
	display: inline;
}

.WARN_P {
	display: inline;
	color: red;
}

#FAC_CHOOSER_TABLE {
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 50px;
}

.ITEM_STATUS_IMG {
	display: inline;
	background-color: transparent;
}

.PRESENT_TABLE {
    width: 1000px;
    margin-top: 50px;
    text-align: center;
}

.PRESENT_TD {
	border: 1px solid #3F464C;
}

#NEWEST_TABLE {
    margin: 50px auto;
    width: 90%;
}

#NEWEST_IMG {
	height: 2.3vh;
	display: inline;
	margin-left: 1vw;
	margin-right: 0;
}

.NEWEST_A {
	text-shadow: 1px 1px #808080;
	text-decoration: none;
	color: #000000;
} 

.NEWEST_A:hover {
	color: #3F464C;
}

#APPLY_A {
	text-shadow: 1px 1px #808080;
	text-decoration: none;
	color: #000000;
} 

#APPLY_A:hover {
	color: #3F464C;
}

#STU_CHOOSER_TABLE {
    margin: 50px auto;
}

.WRITE_DIV {
    float: left;
    width: 100%;
    height: 92%;
    padding: 10px;
    background-color: #FFF6E5;
    box-sizing: border-box;
    overflow: auto;
    white-space: pre-wrap;
    font-size: 14px;
}

#SUPPORT_A {
	text-decoration: none;
	color: #000000;
} 

#SUPPORT_A:hover {
	color: #3F464C;
}

.LOOK_LINE_PLAIN_INPUT {
    border: none;
    background-color: transparent;
    width: 100%;
}

.DOC_A {
	text-decoration: none;
	color: #000000;
	text-shadow: 1px 1px #808080;
} 

.DOC_A:hover {
	color: #3F464C;
}

.FILL_TEXTAREA {
	white-space: pre;
	overflow: scroll;
	max-width: 80vw;
	max-height: 60vh;
	width: 80vw;
	height: 60vh;
	resize: none;
}

.FILL_INPUT {
	width: 100%;
	height: 100%;
}

.EXPAND_INPUT {
	
}

.SETUP_BUTTON {
    display: block;
    background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    color: #000000;
    text-decoration: none;
    width: 100px;
    padding: 2px 1px;
    border-radius: 5%;
    border : 1px solid #3F464C;
    margin: 0 auto;
}

.ITEM_TR {
	font-family: "Goudy Old Style", Garamond, "Big Calon", "Times New Romand", serif;
	font-weight: 800;
}

.PRESENT_TH {
	height: 5vh;
	background-color: #2186C4;
	color: #FFF6E5;
}

.PUT_BUTTON_DIV {
	text-align: center;
}

#UPLOAD_INPUT {
	display: inline;
}

#DELETE_LABEL {
	display: inline;
}

#ADD_LABEL {
	display: inline;
}

.FILENAME_INPUT {
    border: none;
    background: repeating-linear-gradient(
        135deg,
        #D8D8D8,
        #D8D8D8 2.5px,
        #FFF6E5 2.5px,
        #FFF6E5 5px
    );
    width: 95%;
    margin: 1px;
}

#FAC_DASHBOARD_TABLE {
    margin: 0 auto;
    margin-top: 5vh;
    margin-bottom: 30px;
    width: 80%;
}

