body {
	background-color: #D6E8FC;
	color: #000000;
	font-family: "Goudy Old Style", Garamond, "Big Calon", "Times New Romand", serif;
}

header {
	background-color: #2186C4;
	color: #FFF6E5;
	font-family: "Goudy Old Style", Garamond, "Big Calon", "Times New Romand", serif;
}

nav {
	background-color: #000000;
}

#HEADER_DIV {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

footer {
	background-color: transparent;	
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

.HEADER_A {
	text-decoration: none;
	color: #FFF6E5;
} 

.HEADER_A:hover {
	color: #D8D8D8;
}

.NAV_A {
	text-decoration: none;
	border: 1px solid #FFF6E5;
	border-radius: 5%;
	text-align: center;
	color: #FFF6E5;
	font-size: 2.3vh;
	display: inline;
	border-bottom: none;
	margin-right: 2vw;
	font-weight: 600;
} 

.NAV_A:hover {
	background-color: #FFF6E5;
	color: #3F464C;
}

.NAV_IMG {
	height: 2.3vh;
	display: inline;
	margin-left: 1vw;
	margin-right: 0;
}

#FLAG_IMG {
	display: none;
}

.NICKNAME_P {
	color: #3196C4;
	display: inline;
	font-size: 2.7vh;
	margin-right: 2vw;
	font-weight: 700;
}

p {
	margin: 0;
}

content {
	position: absolute;
	top: 100px;
	right:0;
	left:0;
	z-index: -1;
	text-align: center;
}
