body {
	background-color: #D6E8FC;
	color: #000000;
	font-family: "Goudy Old Style", Garamond, "Big Calon", "Times New Romand", serif;
}

header {
	background-color: #2186C4;
	color: #FFF6E5;
	font-family: "Goudy Old Style", Garamond, "Big Calon", "Times New Romand", serif;
}

nav {
	background-color: #000000;
	border-bottom: 1px solid #3F464C;
}

#HEADER_DIV {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

footer {
	background-color: transparent;	
	text-align: right;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

.HEADER_A {
	text-decoration: none;
	color: #FFF6E5;
} 

.HEADER_A:hover {
	color: #D8D8D8;
}

.NAV_A {
	text-decoration: none;
	border: 1px solid #3F464C;
	border-bottom: none;
	border-radius: 5%;
	text-align: center;
	color: #FFF6E5;
	font-size: 2.3vh;
	display: inline;
	margin-right: 2vw;
	font-weight: 600;
} 

.NAV_A:hover {
	background-color: #FFF6E5;
	color: #3F464C;
}

.NAV_PROB_A {
	text-decoration: none;
	border: 1px solid #FFF6E5;
	border-radius: 5%;
	text-align: center;
	color: #FF8C00;
	font-size: 2.3vh;
	display: inline;
	border-bottom: 0.5px solid #FFF6E5;
	margin-right: 2vw;
	font-weight: 600;
} 

.NAV_PROB_A:hover {
	background-color: #FFF6E5;
	color: #3F464C;
}

.NAV_IMG {
	height: 2.3vh;
	display: inline;
	margin-left: 1vw;
	margin-right: 0;
}

#FLAG_IMG {
	display: none;
}

.NICKNAME_P {
	color: #3196C4;
	display: inline;
	font-size: 2.7vh;
	margin-right: 2vw;
	font-weight: 700;
}

p {
	margin: 0;
}

content {
	position: absolute;
	top: 100px;
	right:0;
	left:0;
	z-index: -1;
}

select {
	-webkit-appearance: button;
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-padding-end: 20px;
	-webkit-padding-start: 2px;
	-webkit-user-select: none;
	background-image: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	background-repeat: no-repeat;
	border: 1px solid #3F464C;
	color: #000000;
	overflow: hidden;
	padding: 2px 16px;
	text-overflow: ellipsis;
}
